name: Release

on:
  workflow_dispatch:
    inputs:
      release-version:
        description: 'Release version tag'
        default: 'v0.1.0'
        required: true
jobs:
  build: 
    name: Build project
    runs-on:
      - self-hosted
      - ubuntu-20.4
    steps:
    - name: Checkout the source code
      uses: actions/checkout@master
      with:
        submodules: true
    - name: Test and Build optimized binary 
      run: |
        sudo apt update
        sudo apt install -y git clang curl libssl-dev llvm libudev-dev
        curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
        source $HOME/.cargo/env
        rustup default stable
        rustup update
        rustup update nightly
        rustup target add wasm32-unknown-unknown --toolchain nightly
        rustup show
        cargo --version
        rustc --version
        cargo test --all
        cargo clean
        cargo build --release
    - uses: actions/upload-artifact@v2
      with:
        name: ice-node
        path: target/release/ice-node

  release:
    name: Release project
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download ICE project content
        uses: actions/download-artifact@v2
        with: 
          name: ice-node
      - name: Archive project content
        uses: thedoctor0/zip-release@master
        with:
          type: 'zip'
          filename: 'ice-node.zip'
      - name: Create Github release
        id: create-new-release
        uses: actions/create-release@v1
        env: 
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with: 
          tag_name: ${{ github.event.inputs.release-version }}
          release_name: Frost Testnet Release ${{ github.event.inputs.release-version }}
      - name: Upload asset to Github release
        uses: actions/upload-release-asset@v1
        env: 
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create-new-release.outputs.upload_url }}
          asset_path: ./ice-node.zip
          asset_name: ice-node-${{ steps.version.outputs.tag_name }}.zip
          asset_content_type: application/zip
